/* control }  comentarios*/
/* #012326 
#000C0D
#2E5951
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

#nosotros {
  margin: 150px auto;
  width: 70%;
}
#nosotros .estudio {
  max-width: 400px;
  float: left;
  border: 5px solid white;
  margin-right: 25px;
  border-radius: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #nosotros .estudio {
    max-width: 200px;
    margin: 20px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #nosotros .estudio {
    max-width: 300px;
    margin: 20px;
    align-items: center;
  }
}
#nosotros .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#nosotros .text h2 {
  color: aliceblue;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #nosotros .text h2 {
    font-size: 2rem;
  }
}
#nosotros .text h3 {
  color: aliceblue;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #nosotros .text h3 {
    font-size: 2rem;
  }
}
#nosotros .text p {
  font-size: 1rem;
  text-align: justify;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #nosotros .text p {
    width: 20rem;
    height: 15rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #nosotros .text p {
    width: 20rem;
    height: 15rem;
  }
}
@media screen and (min-width: 1024px) {
  #nosotros .text p {
    width: 20rem;
    height: 15rem;
  }
}
#nosotros .text .btn {
  width: 20rem;
  height: 3rem;
  background-color: black;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#nosotros .text .btn a {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  transition: color 2s;
}
.btn a #nosotros .text .btn a hover {
  color: orange;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: none;
}
header nav {
  font-size: 1.5rem;
}
header nav a img {
  width: 11rem;
  height: 9rem;
  margin-left: 4rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  header nav a img {
    margin-right: 10rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header nav a img {
    margin-left: 15rem;
  }
}

main {
  color: #eef1f0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main .imgfqs {
  width: 100%;
  margin-left: 1rem;
}
main section img {
  display: block;
  flex-direction: row;
  margin: auto;
}
main .portada {
  max-width: 95%;
  max-height: 95%;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 2rem;
  margin: auto;
}
main .carousel-item active {
  width: 90%;
  margin-left: 5rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  main .carousel-item active {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .carousel-item active {
    width: 100%;
    margin-left: 0;
  }
}
main .carousel-item {
  width: 90%;
  margin-left: 5rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  main .carousel-item {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .carousel-item {
    width: 100%;
    margin-left: 0;
  }
}
main .d-block w-100 {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
main input, main label, main select {
  display: flex;
  margin-bottom: auto;
  text-align: center;
}
main textarea {
  text-align: center;
  display: block;
}
main iframe {
  align-items: flex-start;
  display: block;
  width: 90%;
  margin-left: 1rem;
}
main .formulario {
  width: 90%;
  margin: 1rem;
  padding: 1rem;
}
main .btn-sumit {
  align-items: baseline;
  height: 2rem;
  width: 2rem;
  border-radius: 2%;
  padding: 2rem;
  margin: 2rem;
}

html {
  font-size: 62, 5%;
}
html body {
  background-image: url(../asset/elescaneado3denlaimpresion-3d.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  html body {
    width: 100%;
  }
}
html body a {
  text-decoration: none;
  color: #eef1f0;
}
html body h1 {
  text-align: center;
  padding: 2rem;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html body h2 {
  padding: 1rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html body h3 {
  padding: 1rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html body h4 {
  padding: 1rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html body h5 {
  padding: 1rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html body h6 {
  padding: 1rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html body p {
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
html body div ol li {
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
html body .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
}
html body .cards .datos {
  background-color: black;
  display: inline-block;
  float: left;
  width: 20rem;
  height: 15rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: -17px -16px 25px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -17px -16px 25px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: -17px -16px 25px 3px rgba(255, 255, 255, 0.75);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  html body .cards {
    flex-direction: column;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html body .cards {
    flex-direction: column;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  html body .cards {
    margin-left: 5rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
}
html body .parrafo {
  font-size: 1rem;
  text-align: justify;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
html body footer {
  background-color: black;
  color: #eef1f0;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
html body footer p {
  text-align: center;
  margin: auto;
  padding: auto;
  width: auto;
}
html body footer svg {
  list-style-type: none;
  width: auto;
  display: inline block;
  text-decoration: none;
  color: #eef1f0;
}
html body .fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
html body .fotos img {
  border-radius: 3px;
  max-width: 30%;
  border: #C4AA25 2px solid;
}
img html body .fotos hover {
  border: #E8C61C 2px solid;
}
html body article {
  background: #363232;
  background: linear-gradient(90deg, #363232 0%, #006bff 80%);
  background: -moz-linear-gradient(90deg, #363232 0%, #006bff 80%);
  width: 80%;
  padding: 2rem;
  margin: 2rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  html body article {
    margin-left: 2.7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html body article {
    margin-left: 3.5rem;
  }
}
html body article p {
  font-size: 1.5rem;
  text-align: justify;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  html body article p {
    font-size: 1rem;
  }
}
html body .contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.3fr 6.5fr 5.5fr 0.3fr;
  grid-template-areas: "menu menu menu" "main main main" "section section section" "footer footer footer";
  width: 100%;
  height: 100hv;
}
html body .contenedor header {
  grid-area: menu;
}
html body .contenedor main {
  grid-area: main;
}
html body .contenedor section {
  grid-area: section;
}
html body .contenedor footer {
  grid-area: footer;
  width: 100%;
  height: 6rem;
}
@keyframes moverBoton {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  75% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
html body .popup-wpp {
  width: 3rem;
  height: 3rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-name: moverBoton;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
html body .popup-wpp a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
html body .popup-wpp a svg {
  width: 2.5rem;
  height: 2.5rem;
}/*# sourceMappingURL=styles.css.map */