.slide{
    width: 100%;
    margin-top: 10px;

    img{
        height: 65hv;
    }

}

@include mobile{
    .slide{
        width: 90%;
        position: relative;
        display: inline-block;
        height: 200px;

        img{
            width: 200px;
        }
    }    
}

@include tablet{
    .slide{
        width: 90%;
        position: relative;
        display: inline-block;
        height: 400px;

        img{
            width: 200px;
        }
    }    
}