header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: none;
    nav{
        font-size: 1.5rem;
    }
    nav a img {
        width: 11rem;
        height: 9rem;
        margin-left: 4rem;
        @include mobile{
            margin-right: 10rem;
        }
        @include tablet{
            margin-left: 15rem;
        }
    }
}